# ===== Python =====
venv/
.venv/
env/
__pycache__/
**/__pycache__/
*.py[cod]
.coverage
coverage.xml
*.sqlite3

# ===== Django =====
staticfiles/
media/

# ===== Node / React =====
node_modules/
build/
dist/
alerts-frontend/.env.local

# ===== Logs / Temp =====
*.log
bash.exe.stackdump

# ===== OS =====
.DS_Store
Thumbs.db
